{
    "name":"{{ influxdb_name }}",
    "type":"influxdb",
    "access":"proxy",
    "url":"{{ influxdb_host }}:{{ influxdb_port }}",
    "password":"{{ influxdb_db_password }}",
    "user":"{{ influxdb_user }}",
    "database":"{{ influxdb_db_name }}",
    "basicAuth": false
}